---
import Eyebrow from "./eyebrow.astro";
import FacilityCompliance from "./facility-compliance.astro";

const { facility = {} } = Astro.props;
---

<div data-facility-detail>
  {
    facility.image && (
      <img
        class="facility-detail__hero"
        src={facility.image[0].url}
        alt={facility.company_name}
      />
    )
  }

  <article class="facility-detail | overflow-hidden height-full stack-loose padding">
    <header class="stack-tight">
      <Eyebrow facility={facility} />

      <div>
        <h2>{facility.company_name}</h2>
        <p class="text-detail">
          <strong>{facility.description}</strong>
        </p>
        <p class="text-detail">
          <i class="fa fa-location-dot color-gray-dark"></i>
          <span>{facility.address}</span>
        </p>
      </div>
    </header>

    <FacilityCompliance facility={ facility }/>

    {
      facility.clean_air_notes && (
        <section class="facility-card__notes stack-tight">
          <h3>Clean Air Council Action Alerts</h3>
          <div class="text" set:html={facility.clean_air_notes} />
        </section>
      )
    }

    {
      facility.notes && (
        <section class="facility-card__notes stack-tight">
          <h3>Facility Notes</h3>
          <div class="text" set:html={facility.notes} />
        </section>
      )
    }

    {
      facility.attachments && (
        <section class="text">
          {facility.attachments?.map((group) => (
            <div class="text">
              <header>
                <h3>{group.heading}</h3>
              </header>

              <div class="grid columns-three gap-tight">
                {group.attachments?.map((attachment) => (
                  <a
                    class="facility-card__attachment"
                    href={attachment.url}
                    data-viewer-link
                    data-url={attachment.url}
                    data-filename={attachment.filename}
                  >
                    <img src={attachment.thumbnails?.large?.url} />
                  </a>
                ))}
              </div>
            </div>
          ))}
        </section>
      )
    }
  </article>
</div>

<style is:global>
  .facility-detail {
    pointer-events: all;
  }

  .facility-detail__hero {
    object-fit: cover;
    margin-top: -1rem;
  }

  .facility-card__attachment {
    cursor: pointer;
    
    border-radius: 0.5rem;
    border: 2px solid var(--color-gray-dark);
    transition:
      translate 0.2s ease-in-out,
      border-color 0.2s ease-in-out !important;
    overflow: hidden;
    aspect-ratio: 1;
  }

  .facility-card__attachment:hover {
    border-color: var(--color-accent);
    translate: 0% -0.25rem;
  }

  @media screen and (min-width: 900px) {
    .facility-detail__hero {
      margin-block: -2rem 1rem;
    }
  }
</style>
