---
import Eyebrow from "./eyebrow.astro";
import Permit from "./permit.astro";

const { facility = {} } = Astro.props;
---

<div class="facility-detail__holder" data-facility-detail>
  {
    facility.image && (
      <img
        class="facility-detail__hero"
        data-populate="company_name: @alt, image.url: @src"
      />
    )
  }

  <article class="facility-detail stack-loose">
    <header class="stack-tight">
      <Eyebrow facility={facility} />

      <div>
        <h2>{facility.company_name}</h2>
        <p class="text-detail">
          <strong data-populate="description">{facility.description}</strong>
        </p>
        <p class="text-detail">
          <i class="fa fa-location-dot color-gray-dark"></i>
          <span data-populate="address">{facility.address}</span>
        </p>
      </div>
    </header>

    <section class="facility-card__permits stack-tight">
      <h3>Current Permits and Compliance</h3>

      {
        facility.permits?.length > 0 && (
          <div class="grid-three">
            {facility.permits.map((permit) => (
              <Permit permit={permit} style="card" />
            ))}
          </div>
        )
      }

      <ul>
        <li>
          <i class="fa fa-landmark-flag"></i>
          <strong data-populate="totalPenalties"></strong> in federal penalties in
          the last 5 years
        </li>
        <li>
          <i class="fa fa-ban"></i>
          <strong data-populate="violations.count"></strong> violations since
          <strong data-populate="violations.since"></strong>
        </li>
      </ul>

      <div class="text text-detail">
        Sources:
        <a target="_blank" href={facility.epa_link} data-populate="epa_link">
          ECHO <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a> and
        <a target="_blank" href={facility.dep_link} data-populate="dep_link">
          DEP <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </section>

    {
      facility.clean_air_notes && (
        <section class="facility-card__notes stack-tight">
          <h3>Clean Air Action Alerts</h3>
          <div class="text" data-populate="clean_air_notes" />
        </section>
      )
    }

    {
      facility.notes && (
        <section class="facility-card__notes stack-tight">
          <h3>Facility Notes</h3>
          <div class="text" data-populate="notes" />
        </section>
      )
    }

    <section class="text">
      {
        facility.attachments?.map((group) => (
          <div class="text">
            <header>
              <h3>{group.heading}</h3>
            </header>

            <div class="facility-card__attachments">
              {group.attachments.map((attachment) => (
                <a class="facility-card__attachment">
                  <img src={attachment.thumbnails.large.url} />
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </section>
  </article>
</div>

<style>
  .facility-detail__holder {
    background: var(--color-white);
  }

  .facility-detail {
    overflow: scroll;
    max-height: 100%;
    pointer-events: all;
    padding: 0.5rem;
  }

  .facility-detail__hero {
    object-fit: cover;
  }
</style>
